*{
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}



.main-color{
    background: linear-gradient(rgb(87, 82, 82), rgb(8, 7, 7));

}

.secondary-color{
    background-color: black;
}

.third-color{
    background-color: silver;
}


.img-banner{
   max-width: 100%;
   object-fit: cover;
   min-height: 360px;
   max-height: 523px;
   filter: brightness(0.5);
}

.img-banner-2{
    max-width: 100%;
    min-width: 300px;
    object-fit: cover;
    max-height: 523px;
    min-height: 360px;
    filter: brightness(0.9);
}

.img-logo{
    max-width: 100%;
    object-fit: cover;
    width: 70px;

}

.logo-footer{
    max-width: 100%;
    object-fit: cover;
    width: 150px;

}


.title-banner{
    color: #e6ac00;
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgb(0, 0, 0);
    overflow-y: hidden;
}

.description-banner{
    color: #e6ac00;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 90px rgb(0, 0, 0);
}

#link:hover{
    color: #e6ac00;
}

.marketing-title{
    color: #fff;
    font-size: clamp(1.75rem, 1rem + 3vw, 3rem);

}

.marketing-description{
    color: #fff;
    line-height: 3.5rem;
    font-size: clamp(.5rem, .5rem + 3vw, 1.2rem);
}

@media screen and (max-width: 568px){
    .responsive-text{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .comodidades-responsive{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }

    .texto-comodidade-responsive {
    margin-top: 2rem;
    color: silver;




    }

    .responsive-resgister{
        flex-direction: column;
    }

    .responsive-input{
        flex-direction: column;
    }

    .footer-responsive{
        gap: 2rem;
        flex-direction: column;

    }

}

@media screen and (max-width: 992px){
    .responsive-text{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .comodidades-responsive{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 2rem;
    }


    .texto-comodidade-responsive {
        width: 300px;
        position: relative;
        transform: translate(-45%, -50%);
    }

    .texto-comodidade-responsive p {
        padding-top: 2rem;
    }

    .responsive-resgister{
        flex-direction: column;
    }

    .responsive-input{
        flex-direction: column;
    }

    .footer-responsive{
        gap: 2rem;
        flex-direction: column;
    }
}

.title-font{
    color: silver;
}

.texto-comodidade{
    margin-top: 1rem;
    
    text-align: center;

    color: silver;

}

.itens-comodidades{
    color: #fff;
}

.color-review{
    background: linear-gradient(to left, rgb(4, 12, 34), rgb(44, 39, 39),rgb(4, 12, 34));
}

.color-title-review{
    color: silver;
}

.button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 20px;
    color: #fff;

}

.button:hover{
    background-color: silver;
    color: black;
    transition: all ease-in-out .5s;
}

.scrollReveal{
    visibility: hidden;
}
